* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

.page_wrapper {
    border: 2px dashed red;
    max-width: 1600px;
    margin: 0 auto;
}

/* Container1 */
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url(../photos/BG.png);
}

.heading {
    color: white;
    font-size: 72px;
    font-weight: 700;
}


.nav-img {
    position: absolute;
    top: 22px;
    left: 152px;
}


/* Container2 */
/* Container2_Content_upper */

.content_upper {
    width: 796px;
    height: 50px;
    margin: 130px auto;
    border: 1px solid black;
    display: flex;
    gap: 40px;
    padding: 0px;
}

.button {
    width: 130px;
    height: 50px;
    padding: 13px 33px 13px 33px;
    border-radius: 3px 0px 0px 0px;
    border: 1px solid;
    text-align: center;
    color: #e42d3f;
}

.button:hover {
    background-color: #F54C5C;
    color: white;
}

.button1 {
    width: 120px;
    height: 50px;
}

.button2 {
    padding: 13px 13px;

}

/* Container2_Content_below */

.content_bottom {
    width: 1296px;
    min-height: 900px;
    border: 2px solid;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 130px;
}


.cards {
    border: 1px solid;
    width: 636px;
    height: 400px;
    margin: 0px;
    border-radius: 10px 10px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.cards img {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
}

.cards .text {
    z-index: 2;
}

#card1_img {
    width: 635px;
}

.text {
    position: absolute;
    bottom: -50px;
    left: 25%;
    transform: translateX(-50%);
    opacity: 0;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    z-index: 1;
    color: white;
    text-align: left;
}
.cards:hover{
    border: 3px solid rgb(66, 64, 64);
}
.cards:hover .text {
    bottom: 20px;
    opacity: 1;
    color: white;

}
.cards:hover img {
    opacity: 0.5;
}
.cards::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(196, 182, 182, 0); */
   
    transition: background 0.5s ease;
    z-index: 1; /* Ensure the overlay is above the image */
}
.cards:hover::before {
    background: radial-gradient(circle, rgba(12, 11, 11, 0.233) 20%, rgba(0, 0, 0, 0.596) 70%);
}